<!--Name: Adityasinh Makwana-->
<!--Sudent id: 301175966-->
<!--COMP229_002-->
<!--Date 09 Feb 2023-->
<script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>

</body>
</html>